<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Quên mật khẩu</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Quên mật khẩu</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="email">Địa chỉ Email:</label>
                            <input type="email" class="form-control" id="email"  name="email" placeholder="Nhập địa chỉ Email" required>
                        </div>
                        <!-- Thêm đoạn mã sau vào nơi bạn muốn hiển thị nút "Gửi liên kết đặt lại mật khẩu" -->
                        <a href="/reset-password" class="btn btn-primary btn-block" id="forgot-password-btn">Gửi liên kết đặt lại mật khẩu</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha512-bnIvzh6FU75ZKxp0GXLH9bewza/OIw6dLVh9ICg0gogclmYGguQJWl8U30WpbsGTqbIiAwxTsbe76DErLq5EDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script> $(document).ready(function () {

    $("#forgot-password-btn").click(function () {
        var email = $("#email").val();
        console.log(email)
        if (email.trim() !== "") {
            // Gọi Ajax để xử lý đặt lại mật khẩu, bạn có thể thay đổi url và dữ liệu gửi đi theo nhu cầu của bạn
            $.ajax({
                type: "POST",
                url: "/api/auth/otp-sending",
                contentType: 'application/json',
                data: JSON.stringify({ email: email }),
                success: function (response) {

                    console.log(response);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        } else {

        }
    });
});</script>

</body>
</html>
