<div class="modal" id="product-update-modal" th:fragment="product-update-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Title</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="update-product-form" >
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" placeholder="Enter name" id="name"
                               name="name"
                        >
                        <div class="alert alert-danger bg-white border-0 pl-0 text-danger pt-1"
                        ></div>
                    </div>
                    <div class="form-group">
                        <label for="price">price:</label>
                        <input type="text" class="form-control" placeholder="Enter name" id="price"
                               name="price"
                        >
                        <div class="alert alert-danger bg-white border-0 pl-0 text-danger pt-1"
                        ></div>
                    </div>
                    <div class="form-group">
                        <label for="description">description:</label>
                        <input type="text" class="form-control" placeholder="Enter name" id="description"
                               name="description"
                        >
                        <div class="alert alert-danger bg-white border-0 pl-0 text-danger pt-1"
                        ></div>
                    </div>
                    <div class="form-group">
                        <label for="image">image:</label>
                        <input type="text" class="form-control" placeholder="Enter address"
                               id="image" name="image">
                        <div class="alert alert-danger bg-white border-0 pl-0 text-danger pt-1"
                        ></div>
                    </div>



                </form>

            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button class="btn btn-primary px-4" id="update-product-btn">Save</button>
            </div>

        </div>
    </div>
</div>
