<div class="modal" id="subject-delete-modal" th:fragment="subject-delete-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">xóa môn học </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div> bạn có muốn xoa sinh viên này không</div>




            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button class=" px-4 btn btn-danger" id="delete-subject-btn">xóa</button>
                <button class="btn  px-4 btn-secondary" data-dismiss="modal">thôi</button>


            </div>

        </div>
    </div>
</div>
